@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: #050b14;
  color: #f5f7fa;
}
